/* App.css */
.app {
    background: color #f4f4f4;;
    font-family: Arial, sans-serif;
    
    padding: 20px;
    width: 100vw;
    height: 100vh;
  }
  
  .profile {
    background-color: white;
    display: flex;
    align-items: center;
    gap: 10px;
  }
  
  .profile img {
    width: 50px;
    height: 50px;
    border-radius: 50%;
  }
  
  .balance {
    padding-top: 40px;
    padding-bottom: 40px;
    height: 90px;
    padding: 15px 20px;
    margin-top: 20px;
    border: 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  .mai{
    padding: 15px 20px;
    margin-top: 20px;
    border: 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  .butt {
    background-color: #f5f5f5;
    padding: 10px 10px;
    padding-top: 5px;
    padding-bottom: 5px;
    margin-top: 20px;
    border: 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 90px;
  }
  
  .member {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #f5f5f5;
    padding: 10px 20px;
    margin-top: 10px;
  }
  
  .avatar {
    width: 40px;
    height: 40px;
    background-color: #e0e0e0;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-right: 10px;
  }
  
  /* button {
    display: block;
    margin: 20px auto;
    padding: 10px 20px;
  }
   */
  .mempic{
    width: 50px;
    height: 50px;
    border-radius: 50%;
  }
  
  .Mem{
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #f5f5f5;
    padding: 10px 20px;
    margin-top: 10px;
  }

  .h-85{
    height: 85%
  }

  .h-90{
    height: 90%
  }